###############################################################################
# GLOBAL
###############################################################################
node_modules/
*.log
.DS_Store
Thumbs.db

# Archivos de entorno
.env
*.env

###############################################################################
# NEXT.JS (Frontend)
###############################################################################
frontend/.next/
frontend/node_modules/
frontend/dist/
frontend/out/
frontend/.vercel/

###############################################################################
# DJANGO (Backend)
###############################################################################
backend/db.sqlite3
backend/__pycache__/
backend/media/
backend/staticfiles/
backend/*.pyc
backend/**/*.pyc

###############################################################################
# PYTHON
###############################################################################
__pycache__/
*.pyc
*.pyo
*.pyd
